@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="cuerpo">
    <h1 class="display-4 mt-3">¡Bienvenido a nuestra API y MVC de Pokémons y Naturalezas!</h1>
    <img src="~/images/Lugia-wp.jpg" alt="Logo" style="height: 500px; margin-right: 10px;">
    <p class="lead">Descubre un mundo lleno de criaturas fascinantes y explora sus características únicas. 
        Desde los feroces Charizard hasta los adorables Pikachu, nuestra plataforma te permite acceder a una amplia gama de datos sobre tus Pokémons favoritos. 
        Sumérgete en la diversión y la emoción del universo Pokémon mientras exploras sus naturalezas y te conviertes en el mejor Entrenador Pokémon. ¡Empieza tu aventura hoy mismo!</p>
</div>
